In [134]:
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [144]:
df = pd.read_csv("../../data/CLEANED_SFHS_byState.csv")
df.head()

,Unnamed: 0,Alaska,Alabama,Arkansas,Arizona,California,Colorado,Connecticut,District of Columbia,Delaware,...,South Carolina,South Dakota,Tennessee,Texas,Utah,Virginia,Vermont,Washington,Wisconsin,West Virginia
0,1/31/1996,128799,82282,68557,110353,164133,143302,157679,195151,132770,...,97030,84567,90477,98043,160686,122364,109627,142534,99186,60990
1,2/29/1996,129299,82384,68588,110668,163906,143773,157478,194150,132713,...,97138,84961,90655,98068,160818,122311,109607,142542,99329,60995
2,3/31/1996,129737,82466,68665,111028,163766,144161,157722,193289,132655,...,97176,84923,90872,98099,161092,122319,109517,142570,99435,60998
3,4/30/1996,130648,82582,68774,111685,163493,144946,157889,191849,132515,...,97377,84980,91294,98226,161570,122300,109372,142641,99740,61010
4,5/31/1996,131314,82646,68901,112300,163318,145634,158013,190734,132638,...,97527,84773,91737,98368,162209,122256,109188,142778,100100,61014

In [145]:
# Create a numberical date field
df['year'] = df['Unnamed: 0'].str[-4:]
df['month'] = df['Unnamed: 0'].str[0:2] +''
df['month']=df['month'].str.replace('/','')
df['date'] =  df["year"] + '00'
df['date'] = pd.to_numeric(df['date']) + pd.to_numeric(df['month'])

In [146]:
df = df.drop(columns=['month', 'year', 'Unnamed: 0'], axis=1)
df.to_csv("../../data/CLEANED_National_SFHS_CR_edits.csv")

df.head(12)

,Alaska,Alabama,Arkansas,Arizona,California,Colorado,Connecticut,District of Columbia,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Virginia,Vermont,Washington,Wisconsin,West Virginia,date
0,128799,82282,68557,110353,164133,143302,157679,195151,132770,103902,...,84567,90477,98043,160686,122364,109627,142534,99186,60990,199601
1,129299,82384,68588,110668,163906,143773,157478,194150,132713,104008,...,84961,90655,98068,160818,122311,109607,142542,99329,60995,199602
2,129737,82466,68665,111028,163766,144161,157722,193289,132655,104130,...,84923,90872,98099,161092,122319,109517,142570,99435,60998,199603
3,130648,82582,68774,111685,163493,144946,157889,191849,132515,104360,...,84980,91294,98226,161570,122300,109372,142641,99740,61010,199604
4,131314,82646,68901,112300,163318,145634,158013,190734,132638,104581,...,84773,91737,98368,162209,122256,109188,142778,100100,61014,199605
5,131931,82747,69015,112856,163183,146317,158074,189923,132913,104823,...,84795,92191,98485,162720,122199,108912,143123,100604,61026,199606
6,132415,82888,69166,113368,163107,146978,158149,189218,133387,105055,...,84825,92661,98577,163206,122156,108611,143527,101107,61029,199607
7,132795,83096,69333,113838,163113,147662,158383,188579,133773,105262,...,84849,93115,98692,163594,122224,108387,144016,101592,61010,199608
8,133037,83221,69494,114287,163162,148318,158253,188193,134253,105408,...,84905,93508,98843,164021,122345,108311,144418,102005,60940,199609
9,133078,83344,69673,114739,163339,148942,158111,187643,134695,105562,...,84929,93865,99019,164433,122520,108451,144909,102422,60903,199610
10,133087,83437,69827,115160,163542,149551,157890,187436,135033,105733,...,85222,94237,99235,164952,122660,108645,145492,102863,60932,199611
11,133162,83616,70025,115553,163823,150156,157984,187167,135208,105943,...,85382,94623,99470,165467,122807,108912,146159,103305,61016,199612

In [147]:
df.reset_index(drop=True)
df["date_count"] = df.index
df.tail()

,Alaska,Alabama,Arkansas,Arizona,California,Colorado,Connecticut,District of Columbia,Delaware,Florida,...,Tennessee,Texas,Utah,Virginia,Vermont,Washington,Wisconsin,West Virginia,date,date_count
286,321087,139404,129169,275153,571142,412016,272737,739461,259757,259429,...,186743,210191,354675,290684,264080,420109,201218,106695,201911,286
287,319754,140138,129477,277367,574142,413219,272955,740966,259632,260224,...,187767,210559,355969,291276,264703,423181,202100,106761,201912,287
288,319753,140881,129787,279482,577601,414960,273721,743270,259505,261244,...,188809,211003,357764,291795,265440,426520,202911,106796,202001,288
289,317470,141646,130180,281581,581867,416567,274261,745717,259586,262536,...,189944,211434,359461,292441,265826,430155,203670,106871,202002,289
290,314518,142463,130638,283974,586271,418359,274918,747179,259392,263965,...,191179,212043,361473,293064,266352,434222,204311,106928,202003,290

In [148]:
# create list of states from df column headers
states = df.drop(columns=['date'], axis=1).columns  
print(states)

Index(['Alaska', 'Alabama', 'Arkansas', 'Arizona', 'California', 'Colorado',
       'Connecticut', 'District of Columbia', 'Delaware', 'Florida', 'Georgia',
       'Hawaii', 'Iowa', 'Idaho', 'Illinois', 'Indiana', 'Kansas', 'Kentucky',
       'Louisiana', 'Massachusetts', 'Maryland', 'Maine', 'Michigan',
       'Minnesota', 'Missouri', 'Mississippi', 'North Carolina', 'Nebraska',
       'New Hampshire', 'New Jersey', 'Nevada', 'New York', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Virginia', 'Vermont',
       'Washington', 'Wisconsin', 'West Virginia', 'date_count'],
      dtype='object')

In [149]:
# import linear regression model 
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [150]:
## Testing model, printing outputs for march 2020 (last record in table)

for state in states:
#     x = [date_list]
    x = df[['date_count']]
    y = df[state].values.reshape(-1, 1)
    model.fit(x, y)
    print(f'{state} Weight coefficients: ', model.coef_)
    print(f'{state} y-axis intercept: ', model.intercept_) 
    predictions = model.predict(x) 
#     predictions = model.predict([[202103]]) 
    
    print(f"{state} true output: {y[-1]}")
    print(f"{state} predicted output: {predictions[-1]}")
    print(f"{state} prediction Error: {predictions[-1]-y[-1]}")
    print('----------------------------------------------------')

Alaska Weight coefficients:  [[711.46478239]]
Alaska y-axis intercept:  [133913.03954244]
Alaska true output: [314518]
Alaska predicted output: [340237.82643694]
Alaska prediction Error: [25719.82643694]
----------------------------------------------------
Alabama Weight coefficients:  [[146.91805414]]
Alabama y-axis intercept:  [91423.63816316]
Alabama true output: [142463]
Alabama predicted output: [134029.87386433]
Alabama prediction Error: [-8433.12613567]
----------------------------------------------------
Arkansas Weight coefficients:  [[181.59143458]]
Arkansas y-axis intercept:  [72108.10796498]
Arkansas true output: [130638]
Arkansas predicted output: [124769.62399379]
Arkansas prediction Error: [-5868.37600621]
----------------------------------------------------
Arizona Weight coefficients:  [[412.11516784]]
Arizona y-axis intercept:  [127851.97076684]
Arizona true output: [283974]
Arizona predicted output: [247365.36943934]
Arizona prediction Error: [-36608.63056066]
----------------------------------------------------
California Weight coefficients:  [[1219.95163746]]
California y-axis intercept:  [192777.400885]
California true output: [586271]
California predicted output: [546563.3757473]
California prediction Error: [-39707.6242527]
----------------------------------------------------
Colorado Weight coefficients:  [[729.30385831]]
Colorado y-axis intercept:  [148444.41477192]
Colorado true output: [418359]
Colorado predicted output: [359942.53368168]
Colorado prediction Error: [-58416.46631832]
----------------------------------------------------
Connecticut Weight coefficients:  [[346.78824976]]
Connecticut y-axis intercept:  [200478.76220402]
Connecticut true output: [274918]
Connecticut predicted output: [301047.35463447]
Connecticut prediction Error: [26129.35463447]
----------------------------------------------------
District of Columbia Weight coefficients:  [[1947.60976338]]
District of Columbia y-axis intercept:  [159980.77331356]
District of Columbia true output: [747179]
District of Columbia predicted output: [724787.60469331]
District of Columbia prediction Error: [-22391.39530669]
----------------------------------------------------
Delaware Weight coefficients:  [[408.48583046]]
Delaware y-axis intercept:  [153626.18344867]
Delaware true output: [259392]
Delaware predicted output: [272087.07428329]
Delaware prediction Error: [12695.07428329]
----------------------------------------------------
Florida Weight coefficients:  [[404.7183288]]
Florida y-axis intercept:  [121244.59146542]
Florida true output: [263965]
Florida predicted output: [238612.90681636]
Florida prediction Error: [-25352.09318364]
----------------------------------------------------
Georgia Weight coefficients:  [[189.95148844]]
Georgia y-axis intercept:  [120529.1578873]
Georgia true output: [206277]
Georgia predicted output: [175615.08953538]
Georgia prediction Error: [-30661.91046462]
----------------------------------------------------
Hawaii Weight coefficients:  [[1873.33082947]]
Hawaii y-axis intercept:  [204384.86821541]
Hawaii true output: [725070]
Hawaii predicted output: [747650.80876053]
Hawaii prediction Error: [22580.80876053]
----------------------------------------------------
Iowa Weight coefficients:  [[228.45338813]]
Iowa y-axis intercept:  [84100.72607447]
Iowa true output: [156707]
Iowa predicted output: [150352.20863343]
Iowa prediction Error: [-6354.79136657]
----------------------------------------------------
Idaho Weight coefficients:  [[405.27226088]]
Idaho y-axis intercept:  [113522.53248129]
Idaho true output: [298730]
Idaho predicted output: [231051.48813727]
Idaho prediction Error: [-67678.51186273]
----------------------------------------------------
Illinois Weight coefficients:  [[155.26178993]]
Illinois y-axis intercept:  [157030.19166314]
Illinois true output: [205522]
Illinois predicted output: [202056.11074236]
Illinois prediction Error: [-3465.88925764]
----------------------------------------------------
Indiana Weight coefficients:  [[129.3216787]]
Indiana y-axis intercept:  [98415.92703479]
Indiana true output: [158876]
Indiana predicted output: [135919.21385868]
Indiana prediction Error: [-22956.78614132]
----------------------------------------------------
Kansas Weight coefficients:  [[219.10951405]]
Kansas y-axis intercept:  [81722.27166596]
Kansas true output: [154107]
Kansas predicted output: [145264.03073954]
Kansas prediction Error: [-8842.96926046]
----------------------------------------------------
Kentucky Weight coefficients:  [[188.55363308]]
Kentucky y-axis intercept:  [82290.91220637]
Kentucky true output: [150034]
Kentucky predicted output: [136971.4658005]
Kentucky prediction Error: [-13062.5341995]
----------------------------------------------------
Louisiana Weight coefficients:  [[285.36935656]]
Louisiana y-axis intercept:  [93468.80412371]
Louisiana true output: [170762]
Louisiana predicted output: [176225.91752577]
Louisiana prediction Error: [5463.91752577]
----------------------------------------------------
Massachusetts Weight coefficients:  [[769.49371217]]
Massachusetts y-axis intercept:  [208387.55950195]
Massachusetts true output: [441507]
Massachusetts predicted output: [431540.73603069]
Massachusetts prediction Error: [-9966.26396931]
----------------------------------------------------
Maryland Weight coefficients:  [[572.84409274]]
Maryland y-axis intercept:  [175919.71308196]
Maryland true output: [323466]
Maryland predicted output: [342044.49997646]
Maryland prediction Error: [18578.49997646]
----------------------------------------------------
Maine Weight coefficients:  [[429.30265694]]
Maine y-axis intercept:  [111977.0116509]
Maine true output: [247668]
Maine predicted output: [236474.78216354]
Maine prediction Error: [-11193.21783646]
----------------------------------------------------
Michigan Weight coefficients:  [[99.48565418]]
Michigan y-axis intercept:  [112021.6660547]
Michigan true output: [174044]
Michigan predicted output: [140872.50576661]
Michigan prediction Error: [-33171.49423339]
----------------------------------------------------
Minnesota Weight coefficients:  [[390.7213909]]
Minnesota y-axis intercept:  [132195.19557031]
Minnesota true output: [267135]
Minnesota predicted output: [245504.39893141]
Minnesota prediction Error: [-21630.60106859]
----------------------------------------------------
Missouri Weight coefficients:  [[208.33964665]]
Missouri y-axis intercept:  [93679.76841783]
Missouri true output: [166494]
Missouri predicted output: [154098.26594643]
Missouri prediction Error: [-12395.73405357]
----------------------------------------------------
Mississippi Weight coefficients:  [[152.70869982]]
Mississippi y-axis intercept:  [78820.33130914]
Mississippi true output: [127371]
Mississippi predicted output: [123105.85425787]
Mississippi prediction Error: [-4265.14574213]
----------------------------------------------------
North Carolina Weight coefficients:  [[228.48136441]]
North Carolina y-axis intercept:  [121497.32587205]
North Carolina true output: [209429]
North Carolina predicted output: [187756.92155063]
North Carolina prediction Error: [-21672.07844937]
----------------------------------------------------
Nebraska Weight coefficients:  [[243.84694106]]
Nebraska y-axis intercept:  [88139.64715436]
Nebraska true output: [179044]
Nebraska predicted output: [158855.26006214]
Nebraska prediction Error: [-20188.73993786]
----------------------------------------------------
New Hampshire Weight coefficients:  [[530.56733123]]
New Hampshire y-axis intercept:  [143583.84350139]
New Hampshire true output: [310210]
New Hampshire predicted output: [297448.36955703]
New Hampshire prediction Error: [-12761.63044297]
----------------------------------------------------
New Jersey Weight coefficients:  [[567.59350179]]
New Jersey y-axis intercept:  [211068.4817587]
New Jersey true output: [351382]
New Jersey predicted output: [375670.5972791]
New Jersey prediction Error: [24288.5972791]
----------------------------------------------------
Nevada Weight coefficients:  [[240.22303834]]
Nevada y-axis intercept:  [193976.74535141]
Nevada true output: [321471]
Nevada predicted output: [263641.4264699]
Nevada prediction Error: [-57829.5735301]
----------------------------------------------------
New York Weight coefficients:  [[491.39312098]]
New York y-axis intercept:  [129529.96996658]
New York true output: [271984]
New York predicted output: [272033.9750506]
New York prediction Error: [49.9750506]
----------------------------------------------------
Ohio Weight coefficients:  [[105.54783466]]
Ohio y-axis intercept:  [104902.13785718]
Ohio true output: [154443]
Ohio predicted output: [135511.00990915]
Ohio prediction Error: [-18931.99009085]
----------------------------------------------------
Oklahoma Weight coefficients:  [[202.16649119]]
Oklahoma y-axis intercept:  [68829.84846773]
Oklahoma true output: [133143]
Oklahoma predicted output: [127458.13091371]
Oklahoma prediction Error: [-5684.86908629]
----------------------------------------------------
Oregon Weight coefficients:  [[707.02691564]]
Oregon y-axis intercept:  [130709.35152756]
Oregon true output: [375428]
Oregon predicted output: [335747.1570635]
Oregon prediction Error: [-39680.8429365]
----------------------------------------------------
Pennsylvania Weight coefficients:  [[328.40506309]]
Pennsylvania y-axis intercept:  [101117.00812032]
Pennsylvania true output: [199311]
Pennsylvania predicted output: [196354.47641576]
Pennsylvania prediction Error: [-2956.52358424]
----------------------------------------------------
Rhode Island Weight coefficients:  [[515.99624396]]
Rhode Island y-axis intercept:  [161206.66833781]
Rhode Island true output: [314180]
Rhode Island predicted output: [310845.57908488]
Rhode Island prediction Error: [-3334.42091512]
----------------------------------------------------
South Carolina Weight coefficients:  [[247.86728399]]
South Carolina y-axis intercept:  [107335.61495551]
South Carolina true output: [192752]
South Carolina predicted output: [179217.12731253]
South Carolina prediction Error: [-13534.87268747]
----------------------------------------------------
South Dakota Weight coefficients:  [[378.81162801]]
South Dakota y-axis intercept:  [86285.75380125]
South Dakota true output: [210171]
South Dakota predicted output: [196141.12592383]
South Dakota prediction Error: [-14029.87407617]
----------------------------------------------------
Tennessee Weight coefficients:  [[244.74259042]]
Tennessee y-axis intercept:  [95667.23160571]
Tennessee true output: [191179]
Tennessee predicted output: [166642.58282728]
Tennessee prediction Error: [-24536.41717272]
----------------------------------------------------
Texas Weight coefficients:  [[334.99916727]]
Texas y-axis intercept:  [90361.32693122]
Texas true output: [212043]
Texas predicted output: [187511.08543991]
Texas prediction Error: [-24531.91456009]
----------------------------------------------------
Utah Weight coefficients:  [[517.60015875]]
Utah y-axis intercept:  [147345.62646519]
Utah true output: [361473]
Utah predicted output: [297449.67250388]
Utah prediction Error: [-64023.32749612]
----------------------------------------------------
Virginia Weight coefficients:  [[570.67949442]]
Virginia y-axis intercept:  [136579.73791367]
Virginia true output: [293064]
Virginia predicted output: [302076.79129596]
Virginia prediction Error: [9012.79129596]
----------------------------------------------------
Vermont Weight coefficients:  [[550.31175073]]
Vermont y-axis intercept:  [119204.51092124]
Vermont true output: [266352]
Vermont predicted output: [278794.91863202]
Vermont prediction Error: [12442.91863202]
----------------------------------------------------
Washington Weight coefficients:  [[774.18548909]]
Washington y-axis intercept:  [145886.61267241]
Washington true output: [434222]
Washington predicted output: [370400.40450972]
Washington prediction Error: [-63821.59549028]
----------------------------------------------------
Wisconsin Weight coefficients:  [[252.09766398]]
Wisconsin y-axis intercept:  [113627.94525255]
Wisconsin true output: [204311]
Wisconsin predicted output: [186736.26780587]
Wisconsin prediction Error: [-17574.73219413]
----------------------------------------------------
West Virginia Weight coefficients:  [[149.3559209]]
West Virginia y-axis intercept:  [62572.55298216]
West Virginia true output: [106928]
West Virginia predicted output: [105885.7700419]
West Virginia prediction Error: [-1042.2299581]
----------------------------------------------------
date_count Weight coefficients:  [[1.]]
date_count y-axis intercept:  [-2.84217094e-14]
date_count true output: [290]
date_count predicted output: [290.]
date_count prediction Error: [0.]
----------------------------------------------------

In [151]:
# create list of months (using their count) for which we want to predict values
prediction_months = [max(df['date_count'])+12, max(df['date_count'])+24, max(df['date_count'])+36]
print(prediciton_months)

[302, 314, 326]

In [153]:
# create empty list to hold outputs
list_prediction_lists = []

# loop through month list to predict values for each month
for month in prediction_months:
    # create empty lists to hold our predictions and scores per state
    prediction_list = []
    score_list = []
    # loop through each state
    for state in states:
        #create model that takes each state's housing values and date counts
        x = df[['date_count']]
        y = df[state].values.reshape(-1, 1)
        model.fit(x, y)
        # predict, append predection and r2 to lists
        predictions = model.predict([[month]])
        prediction_list.append(int(round(predictions[0][0])))
        score_list.append(model.score(x, y))
        
    # append lists of predictiosn and lists of r2's to a master list
    list_prediction_lists.append(prediction_list)
    list_prediction_lists.append(score_list)

# produce a dataframe with final predictions and scores
predictions_df = pd.DataFrame({f"State": states, 
                               f"2021_03 prediction": list_prediction_lists[0],
                               f"2021_03 score": list_prediction_lists[1],
                              f"2022_03 prediction": list_prediction_lists[2],
                               f"2022_03 score": list_prediction_lists[3],
                              f"2023_03 prediction": list_prediction_lists[4],
                              f"2023_03 score": list_prediction_lists[5],}).reset_index(drop=True)
predictions_df.to_csv("../../data/LR_HousingValues_output.csv")
predictions_df.head(50)

,State,2021_03 prediction,2021_03 score,2022_03 prediction,2022_03 score,2023_03 prediction,2023_03 score
0,Alaska,348775,0.941104,357313,0.941104,365851,0.941104
1,Alabama,135793,0.691441,137556,0.691441,139319,0.691441
2,Arkansas,126949,0.878169,129128,0.878169,131307,0.878169
3,Arizona,252311,0.448005,257256,0.448005,262202,0.448005
4,California,561203,0.635509,575842,0.635509,590482,0.635509
5,Colorado,368694,0.802721,377446,0.802721,386197,0.802721
6,Connecticut,305209,0.313855,309370,0.313855,313532,0.313855
7,District of Columbia,748159,0.926518,771530,0.926518,794902,0.926518
8,Delaware,276989,0.564763,281891,0.564763,286793,0.564763
9,Florida,243470,0.418868,248326,0.418868,253183,0.418868
10,Georgia,177895,0.422937,180174,0.422937,182453,0.422937
11,Hawaii,770131,0.881469,792611,0.881469,815091,0.881469
12,Iowa,153094,0.923744,155835,0.923744,158577,0.923744
13,Idaho,235915,0.670254,240778,0.670254,245641,0.670254
14,Illinois,203919,0.200034,205782,0.200034,207646,0.200034
15,Indiana,137471,0.685325,139023,0.685325,140575,0.685325
16,Kansas,147893,0.900968,150523,0.900968,153152,0.900968
17,Kentucky,139234,0.859522,141497,0.859522,143759,0.859522
18,Louisiana,179650,0.895683,183075,0.895683,186499,0.895683
19,Massachusetts,440775,0.660223,450009,0.660223,459243,0.660223
20,Maryland,348919,0.516798,355793,0.516798,362667,0.516798
21,Maine,241626,0.714655,246778,0.714655,251930,0.714655
22,Michigan,142066,0.141647,143260,0.141647,144454,0.141647
23,Minnesota,250193,0.592372,254882,0.592372,259570,0.592372
24,Missouri,156598,0.710546,159098,0.710546,161598,0.710546
25,Mississippi,124938,0.799344,126771,0.799344,128603,0.799344
26,North Carolina,190499,0.751973,193240,0.751973,195982,0.751973
27,Nebraska,161781,0.870129,164708,0.870129,167634,0.870129
28,New Hampshire,303815,0.640786,310182,0.640786,316549,0.640786
29,New Jersey,382482,0.441086,389293,0.441086,396104,0.441086
30,Nevada,266524,0.091950,269407,0.091950,272289,0.091950
31,New York,277931,0.797463,283827,0.797463,289724,0.797463
32,Ohio,136778,0.420989,138044,0.420989,139311,0.420989
33,Oklahoma,129884,0.948823,132310,0.948823,134736,0.948823
34,Oregon,344231,0.794648,352716,0.794648,361200,0.794648
35,Pennsylvania,200295,0.800921,204236,0.800921,208177,0.800921
36,Rhode Island,317038,0.478309,323229,0.478309,329421,0.478309
37,South Carolina,182192,0.771335,185166,0.771335,188140,0.771335
38,South Dakota,200687,0.956451,205233,0.956451,209778,0.956451
39,Tennessee,169579,0.818622,172516,0.818622,175453,0.818622
40,Texas,191531,0.868546,195551,0.868546,199571,0.868546
41,Utah,303661,0.747652,309872,0.747652,316083,0.747652
42,Virginia,308925,0.699148,315773,0.699148,322621,0.699148
43,Vermont,285399,0.831020,292002,0.831020,298606,0.831020
44,Washington,379691,0.754803,388981,0.754803,398271,0.754803
45,Wisconsin,189761,0.659677,192787,0.659677,195812,0.659677
46,West Virginia,107678,0.886725,109470,0.886725,111263,0.886725
47,date_count,302,1.000000,314,1.000000,326,1.000000