In [1]:
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data_file = "../data/National_SFHS.csv"

NATIONAL Median & Average Single Family Home Sales (1996-2019)

In [3]:
natSFHS_df = pd.read_csv(data_file)
natSFHS_df

           DATE  MEDIAN     AVG
0     1/31/1996  108831  115686
1     2/29/1996  108812  115701
2     3/31/1996  108372  115729
3     4/30/1996  108000  115804
4     5/31/1996  107799  115885
..          ...     ...     ...
286  11/30/2019  239852  266110
287  12/31/2019  241491  266939
288   1/31/2020  243485  267908
289   2/29/2020  245445  268899
290   3/31/2020  247668  269957

[291 rows x 3 columns]

In [4]:
natSFHS_df.shape

(291, 3)

In [5]:
natSFHS_df.to_csv("../data/CLEANED_National_SFHS.csv")