In [1]:
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
rent_data = "../data/Apartment-List-Rent-Data-State_2020-4.csv"

In [21]:
#DataFrame showing breakdown for each month of each yr. btwn 2014-2019 for each state
rent_df = pd.read_csv(rent_data)
rent_df

,Location,Bedroom_Size,Price_2014_01,Price_2014_02,Price_2014_03,Price_2014_04,Price_2014_05,Price_2014_06,Price_2014_07,Price_2014_08,...,Price_2019_09,Price_2019_10,Price_2019_11,Price_2019_12,avg_2019,Price_2020_01,Price_2020_02,Price_2020_03,Price_2020_04,avg_2020
0,Alabama,Studio,573,573,574,574,575,576,578.0,580.0,...,620,620,623,626,618.00,627,628,629,629,628.25
1,Alabama,1br,624,624,625,625,626,627,629.0,631.0,...,675,675,678,681,672.58,682,683,685,685,683.75
2,Alabama,2br,758,758,759,759,760,762,765.0,766.0,...,820,820,824,827,817.33,829,830,832,832,830.75
3,Alabama,3br,1013,1013,1014,1015,1016,1018,1022.0,1024.0,...,1095,1096,1101,1106,1092.00,1107,1109,1111,1111,1109.50
4,Alabama,4br,1178,1178,1179,1180,1182,1184,1188.0,1191.0,...,1274,1275,1280,1286,1270.08,1288,1290,1293,1293,1291.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Wyoming,Studio,557,554,553,553,555,556,557.0,555.0,...,547,551,553,554,548.42,554,555,556,556,555.25
246,Wyoming,1br,624,621,620,620,622,623,624.0,621.0,...,613,617,619,621,614.50,621,622,623,623,622.25
247,Wyoming,2br,801,797,796,796,798,800,801.0,798.0,...,787,792,795,797,788.92,798,798,799,800,798.75
248,Wyoming,3br,1089,1084,1083,1082,1085,1087,1089.0,1085.0,...,1070,1077,1081,1083,1072.58,1084,1085,1087,1088,1086.00
249,Wyoming,4br,1288,1283,1281,1280,1284,1286,1289.0,1283.0,...,1266,1275,1279,1282,1269.00,1283,1284,1286,1287,1285.00

In [26]:
#DataFrame showing only annual average rents for each state
reduced_rent_df = rent_df[["Location", "Bedroom_Size", "avg_2014", "avg_2015", "avg_2016", "avg_2017", "avg_2018", "avg_2019", "avg_2020"]]
reduced_rent_df.head(40)

,Location,Bedroom_Size,avg_2014,avg_2015,avg_2016,avg_2017,avg_2018,avg_2019,avg_2020
0,Alabama,Studio,576.92,580.08,584.08,598.08,605.42,618.00,628.25
1,Alabama,1br,628.00,631.50,635.83,650.83,659.00,672.58,683.75
2,Alabama,2br,762.83,767.17,772.33,790.92,800.67,817.33,830.75
3,Alabama,3br,1019.50,1025.25,1032.17,1056.83,1069.67,1092.00,1109.50
4,Alabama,4br,1185.67,1192.50,1200.42,1229.33,1244.33,1270.08,1291.00
5,Alaska,Studio,852.00,852.08,833.17,820.08,814.33,813.83,817.25
6,Alaska,1br,973.50,973.75,952.08,937.17,930.50,930.08,934.25
7,Alaska,2br,1245.17,1245.25,1217.75,1198.58,1190.33,1189.67,1194.75
8,Alaska,3br,1759.67,1760.17,1721.17,1693.92,1682.17,1681.17,1688.50
9,Alaska,4br,2112.75,2113.17,2066.33,2033.50,2019.50,2018.58,2027.00
10,Arizona,Studio,610.00,633.25,655.00,681.83,701.00,724.58,738.75
11,Arizona,1br,720.42,748.08,773.58,805.58,828.00,855.83,872.75
12,Arizona,2br,910.33,944.92,976.92,1017.58,1046.00,1081.17,1102.50
13,Arizona,3br,1316.08,1366.25,1412.67,1471.33,1512.33,1563.00,1594.00
14,Arizona,4br,1526.75,1584.67,1638.75,1706.83,1754.42,1813.08,1849.25
15,Arkansas,Studio,505.58,509.67,512.83,522.67,524.67,527.92,530.25
16,Arkansas,1br,550.50,555.08,558.42,569.42,571.17,574.92,577.25
17,Arkansas,2br,695.42,701.25,705.17,719.17,721.42,726.17,729.25
18,Arkansas,3br,942.25,950.25,955.92,974.75,977.58,984.50,988.50
19,Arkansas,4br,1103.50,1112.83,1119.42,1141.50,1144.83,1153.00,1157.75
20,California,Studio,1040.83,1104.75,1142.58,1184.67,1212.33,1226.17,1237.00
21,California,1br,1224.58,1300.08,1344.25,1393.92,1426.33,1442.83,1455.25
22,California,2br,1561.58,1657.67,1714.33,1777.42,1818.92,1839.83,1855.75
23,California,3br,2163.00,2296.00,2374.33,2461.83,2519.25,2548.42,2570.75
24,California,4br,2512.58,2667.17,2758.08,2859.92,2926.33,2960.25,2986.25
25,Colorado,Studio,734.92,793.25,828.83,853.00,866.08,883.33,887.50
26,Colorado,1br,864.92,933.67,975.25,1003.67,1019.25,1039.17,1044.75
27,Colorado,2br,1096.75,1183.75,1236.58,1272.67,1292.42,1318.08,1324.50
28,Colorado,3br,1580.00,1705.50,1781.67,1833.58,1862.17,1898.83,1908.25
29,Colorado,4br,1852.00,1999.00,2088.25,2149.33,2182.58,2225.50,2236.75
30,Connecticut,Studio,855.42,871.17,870.83,876.92,888.67,899.17,904.25
31,Connecticut,1br,1024.00,1042.58,1042.25,1049.58,1063.67,1075.92,1082.25
32,Connecticut,2br,1281.92,1305.33,1304.92,1314.00,1331.58,1347.17,1355.25
33,Connecticut,3br,1629.17,1658.75,1658.50,1669.92,1692.17,1712.08,1722.00
34,Connecticut,4br,1882.67,1916.92,1916.33,1929.58,1955.75,1978.33,1990.00
35,Delaware,Studio,774.25,791.00,816.67,836.08,847.75,871.25,889.75
36,Delaware,1br,893.00,911.83,941.42,963.83,977.50,1004.50,1026.00
37,Delaware,2br,1088.58,1111.75,1147.75,1175.25,1191.67,1224.67,1250.50
38,Delaware,3br,1437.17,1467.58,1515.17,1551.33,1573.08,1616.75,1651.00
39,Delaware,4br,1631.92,1666.92,1720.83,1761.75,1786.50,1835.92,1875.00

In [27]:
Alabama_df = pd.DataFrame(rent_df.loc[rent_df["Location"]== "Alabama", :])
Alabama_df

,Location,Bedroom_Size,Price_2014_01,Price_2014_02,Price_2014_03,Price_2014_04,Price_2014_05,Price_2014_06,Price_2014_07,Price_2014_08,...,Price_2019_09,Price_2019_10,Price_2019_11,Price_2019_12,avg_2019,Price_2020_01,Price_2020_02,Price_2020_03,Price_2020_04,avg_2020
0,Alabama,Studio,573,573,574,574,575,576,578.0,580.0,...,620,620,623,626,618.00,627,628,629,629,628.25
1,Alabama,1br,624,624,625,625,626,627,629.0,631.0,...,675,675,678,681,672.58,682,683,685,685,683.75
2,Alabama,2br,758,758,759,759,760,762,765.0,766.0,...,820,820,824,827,817.33,829,830,832,832,830.75
3,Alabama,3br,1013,1013,1014,1015,1016,1018,1022.0,1024.0,...,1095,1096,1101,1106,1092.00,1107,1109,1111,1111,1109.50
4,Alabama,4br,1178,1178,1179,1180,1182,1184,1188.0,1191.0,...,1274,1275,1280,1286,1270.08,1288,1290,1293,1293,1291.00

In [28]:
Minnesota_df = pd.DataFrame(rent_df.loc[rent_df["Location"] == "Minnesota", :])
Minnesota_df

,Location,Bedroom_Size,Price_2014_01,Price_2014_02,Price_2014_03,Price_2014_04,Price_2014_05,Price_2014_06,Price_2014_07,Price_2014_08,...,Price_2019_09,Price_2019_10,Price_2019_11,Price_2019_12,avg_2019,Price_2020_01,Price_2020_02,Price_2020_03,Price_2020_04,avg_2020
110,Minnesota,Studio,608,609,610,612,614,616,619.0,621.0,...,706,707,706,706,703.50,706,707,710,710,708.25
111,Minnesota,1br,738,739,741,743,746,748,751.0,753.0,...,858,858,857,857,854.17,857,859,861,862,859.75
112,Minnesota,2br,938,940,942,945,948,951,955.0,958.0,...,1090,1091,1090,1090,1085.92,1090,1092,1095,1095,1093.00
113,Minnesota,3br,1302,1305,1308,1312,1316,1321,1326.0,1330.0,...,1513,1515,1513,1513,1507.50,1513,1516,1520,1521,1517.50
114,Minnesota,4br,1524,1527,1530,1535,1540,1546,1552.0,1556.0,...,1771,1773,1771,1770,1764.33,1771,1774,1779,1780,1776.00

Rule of thumb: expect to pay approx. 30% of gross monthly income for rent.

In [29]:
reduced_rent_df.to_csv("../data/rent_avg_by_yr.csv")